:root {
    --color-blue: blue;
    --color-white: white;
    --color-h1: #bdbaba;
    --color-body: lightcyan;
}


body {
    background-color: var(--color-body);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    text-align: center;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px var(--color-h1);
}

.square {
    width: 100px;
    height: 100px;
    font-size: 80px;
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 20px;
}

.game {
    margin: 0 auto;
    border-radius: 20px;
}

button {
    background-color: var(--color-blue);
    color: var(--color-white);
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5px;
   
}